*{
    
    font-family: cursive;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin-top: 0px;
}
.registryForm {
    width: auto;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    padding:2% 4%;
    border-radius: 10px;
    text-align: center;
    background-color: #f3F3f3;
}
.button{
    margin-top:20px;
}

.registryForm  form p{
    margin: 9px;
    margin-bottom: 35px;
}
.inputFields{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 10px;
}
.input{
    width: 200px;
    height: 40px;
}