/* --------------------variable declaration-------------------- */
:root {
    --main-color:White;
    --background-color: #F8F7F7;
}
/* -------------------general setup-------------------- */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
#root {
    background-color: var(--background-color);
    font-family: cabin, sans-serif;
    font-size: 1.3em;
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows: 200px autofit autofit 200px;
    gap: 30px;
    grid-template-areas:    'header header header header header'
                            'sidebar1 main main main sidebar2'
                            '. main main main .'
                            'footer footer footer footer footer';
}

  /* ---------------------HEADER---------------------------- */
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header li:hover{
    background-color: var(--main-color);
    transition: background-color .5s;
    cursor:pointer;
  }
.navBar{
    margin-right: 20px;
}
.navBar img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
    color:aqua;
}
.navBar li {
    display: inline;
    margin: 0 10px;
}
/* -----------------------MAIN------------------------ */

.mainSection {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(autofill, autofit);
    gap:25px;
    margin-top: 50px;
    justify-items: center;
    margin-top: 50px;
}
.contParking {
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 10px;
    width: min-content;
}
.innerContainer {
    background: linear-gradient(to bottom,var(--main-color),var(--background-color) );
    padding:20px;
}
.innerContainer img {
    width: 290px;
    height: 200px;
}
.parkingButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding:10px;
}
/* --------------------LEFTSIDEBAR------------------ */


.leftSidebar {
    grid-area: sidebar1;
    background-color: var(--main-color);
    font-size: 0.9em;
    padding: 30px;
}
label {
    display: block;
    margin-top:30px;
}
.leftSidebar input[type="number"], select {
    width:150px;
    height: 25px;
    margin-top: 15px;
}
.leftSidebar input[type="checkbox"] {
    display: inline;
    margin-right: 20px;
}
.radioOption {
    margin: 15px 0;
    display: block;
}
.radioOption label {
    display: inline;
}
.imgContainer {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    padding: 20px;
    border-radius: 100%;
}
.imgContainer:hover {
    background-color: var(--background-color);
}
.imgContainerSel {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    padding: 20px;
    border-radius: 100%;
    background-color: var(--background-color);
}
.leftSidebar img {
    width: 70px;
    height: 70px;
     margin-right: 30px;
    margin-left: 10px;
}
/* --------------------RIGHTSIDEBAR------------------ */


.rightSidebar {
    grid-area: sidebar2;

}
/* --------------------FOOTER------------------ */


footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}
.footerLogo {
    display: flex;
    align-items: center;
}
.footerLogo img {
    width: 150px;
    height: 130px;
}
.footerSocial {
    display: flex;
    align-items: center;
}
.footerSocial img {
    width: 50px;
    height: 50px;
    margin: 0 20px
}
.footerSocial img:hover {
    width: 60px;
    height: 60px;
    margin: 0 15px;
    transition: 0.3s;
}

/* --------------------------LOGIN AND REGISTRY--------------------- */
.formItem {
    grid-area: main;
    display: flex;
    justify-content: center;
    text-align: center;
}
.formContanier {
    background-color: var(--main-color);
    padding:40px
}
.loginForm, .registryForm{
    width: 450px;
    padding: 30px;
    background-color: var(--background-color);
}

.loginForm input,.loginForm select, .registryForm input ,.registryForm select {
    height:40px;
    width: 100%;
    margin:10px auto;
    border: none;
    border-bottom: 1px solid #BDBBBB;
}

/* -------------------GENERAL STYLES-------------------- */
a {
    text-decoration: none;
    color: black;
  }
  li {
      list-style: none;
  }
  input[type=button], input[type="reset"] {
    border-radius: 15px;
    border: none;
    display: inline;
    width: 140px;
    height: 40px;
    margin-left:10px;
    cursor:pointer;
    text-align: center;
    font-size: 1.1em;
    background-color: rgba(5, 5, 5, 0.15);
  }
  input[type=button]:hover, input[type="reset"]:hover {
    background-color: rgba(5, 5, 5, 0.609);
    color:white;
    transition: .4s;
  } 